---
import Button from './Button.astro';
---

<div
  class='w-full flex flex-col h-full text-white space-y-4 justify-center items-start'
>
  <!-- <h1 class='title text-5xl'>Timber export</h1> -->
  <div class='md:space-y-2 w-full lg:max-w-[60%]'>
    <h1 class='title text-2xl md:text-4xl lg:text-5xl uppercase'>
      Drva za ogrijev i pelet
    </h1>
    <h2 class='title text-2xl md:text-4xl lg:text-5xl uppercase'>
      za Vašu toplu i ugodnu zimu!
    </h2>
    <p class='pt-4 text-xs md:text-sm !leading-7 max-w-[50ch] md:max-w-[75ch]'>
      Naši su proizvodi pažljivo nabavljeni kako bi se osiguralo dosljedno
      grijanje i dugotrajno izgaranje. Naručite sada i iskusite vrhunsku
      udobnost grijanja, bez obzira na godišnje doba
    </p>
  </div>
  <Button text='Proizvodi' buttonType='primary' />
</div>

<style>
  .subtitle,
  .title {
    font-family: 'oswald';
  }
</style>
