---
import Button from './Button.astro';

import i18next, { t } from 'i18next';

const lang = i18next.language;
const base = lang === 'en' ? '' : `/${lang}`;
---

<div
  class='w-full flex flex-col h-full text-white space-y-4 justify-center items-start'
>
  <!-- <h1 class='title text-5xl'>Timber export</h1> -->
  <div class='md:space-y-2 w-full lg:max-w-[60%]'>
    <h1 class='title text-2xl md:text-4xl lg:text-5xl uppercase'>
      {t('Hero.FirstTitle')}
    </h1>
    <h2 class='title text-2xl md:text-4xl lg:text-5xl uppercase'>
      {t('Hero.SecondTitle')}
    </h2>
    <p class='pt-4 text-xs md:text-sm !leading-7 max-w-[50ch] md:max-w-[75ch]'>
      {t('Hero.ShortSubheader')}
    </p>
  </div>
  <a href={`${base}/#products`}>
  <Button text={t('Hero.ButtonText')} buttonType='primary' />
</a>
</div>

<style>
  .subtitle,
  .title {
    font-family: 'oswald';
  }
</style>
