---
---

<div
  class='flex flex-col items-center text-center space-y-4 pt-8 px-8 md:px-16'
>
  <h2 class='text-lg lg:text-2xl'>S Vama od <strong>2016.</strong> godine!</h2>
  <p class='text-gray-500 text-sm lg:text-lg'>
    Naši proizvodi i usluge zadovoljili su preko 300 <br /> kupaca kontaktirajte
    nas, obećajemo vrhunsku kvalitetu i brzu isporuku!
  </p>
</div>
