---
import { Image } from 'astro:assets';
import Icon from 'astro-icon';

interface Props {
  imageUrls: string[];
  height?: string;
  customImage?: boolean;
}
const { imageUrls, height, customImage } = Astro.props;
---

<div class={`swiper w-full ${height}`}>
  <div class='swiper-wrapper'>
    {
      imageUrls.map((url) => (
        <div class='swiper-slide h-full'>
          <Image src={url} alt='Images' aspectRatio='16:9' />
        </div>
      ))
    }
  </div>

  <div class='swiper-pagination'></div>

  <div
    class='swiper-button-prev top-4 bottom-0 w-8 bg-[rgba(0,0,0,0.05)] hover:bg-[rgba(0,0,0,0.3)] left-0 h-full'
  >
    <Icon name='fe:arrow-left' class='text-white' />
  </div>
  <div
    class='swiper-button-next top-4 bottom-0 w-8 bg-[rgba(0,0,0,0.05)] hover:bg-[rgba(0,0,0,0.3)] right-0 h-full'
  >
    <Icon name='fe:arrow-right' class='text-white' />
  </div>
</div>

<script>
  // core version + navigation, pagination modules:
  import Swiper, { Navigation, Pagination } from 'swiper';
  // import Swiper and modules styles
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  const swiper = new Swiper('.swiper', {
    modules: [Navigation, Pagination],
    pagination: { el: '.swiper-pagination', clickable: true },
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

<style>
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }

  :root {
    --swiper-theme-color: #fff;
  }
</style>
